<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_movie_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie\Collection</item>
                <item name="movie_actor_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor\Collection</item>
                <item name="movie_director_listing_data_source" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Movie\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Actor\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\Movie\Model\ResourceModel\Director\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>
    <type name="Magenest\Movie\Model\ImageUploader">
        <arguments>
            <!-- Temporary file stored in pub/media/faq/tmp/icon -->
            <argument name="baseTmpPath" xsi:type="string">faq/tmp/icon</argument>
            <argument name="basePath" xsi:type="string">faq/icon</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
</config>